/* Import Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

/* font size  10-20 */
.fs-10{font-size:10px}.fs-11{font-size:11px}.fs-12{font-size:12px}.fs-13{font-size:13px}.fs-14{font-size:14px}.fs-15{font-size:15px}.fs-16{font-size:16px}.fs-17{font-size:17px}.fs-18{font-size:18px}.fs-19{font-size:19px}.fs-20{font-size:20px}

/* font size  21-120 */
.fs-21{font-size:2.1rem}.fs-22{font-size:2.2rem}.fs-23{font-size:2.3rem}.fs-24{font-size:2.4rem}.fs-25{font-size:2.5rem}.fs-26{font-size:2.6rem}.fs-27{font-size:2.7rem}.fs-28{font-size:2.8rem}.fs-29{font-size:2.9rem}.fs-30{font-size:3rem}.fs-31{font-size:3.1rem}.fs-32{font-size:3.2rem}.fs-33{font-size:3.3rem}.fs-34{font-size:3.4rem}.fs-35{font-size:3.5rem}.fs-36{font-size:3.6rem}.fs-37{font-size:3.7rem}.fs-38{font-size:3.8rem}.fs-39{font-size:3.9rem}.fs-40{font-size:4rem}.fs-41{font-size:4.1rem}.fs-42{font-size:4.2rem}.fs-43{font-size:4.3rem}.fs-44{font-size:4.4rem}.fs-45{font-size:4.5rem}.fs-46{font-size:4.6rem}.fs-47{font-size:4.7rem}.fs-48{font-size:4.8rem}.fs-49{font-size:4.9rem}.fs-50{font-size:5rem}.fs-51{font-size:5.1rem}.fs-52{font-size:5.2rem}.fs-53{font-size:5.3rem}.fs-54{font-size:5.4rem}.fs-55{font-size:5.5rem}.fs-56{font-size:5.6rem}.fs-57{font-size:5.7rem}.fs-58{font-size:5.8rem}.fs-59{font-size:5.9rem}.fs-60{font-size:6rem}.fs-61{font-size:6.1rem}.fs-62{font-size:6.2rem}.fs-63{font-size:6.3rem}.fs-64{font-size:6.4rem}.fs-65{font-size:6.5rem}.fs-66{font-size:6.6rem}.fs-67{font-size:6.7rem}.fs-68{font-size:6.8rem}.fs-69{font-size:6.9rem}.fs-70{font-size:7rem}.fs-71{font-size:7.1rem}.fs-72{font-size:7.2rem}.fs-73{font-size:7.3rem}.fs-74{font-size:7.4rem}.fs-75{font-size:7.5rem}.fs-76{font-size:7.6rem}.fs-77{font-size:7.7rem}.fs-78{font-size:7.8rem}.fs-79{font-size:7.9rem}.fs-80{font-size:8rem}.fs-81{font-size:8.1rem}.fs-82{font-size:8.2rem}.fs-83{font-size:8.3rem}.fs-84{font-size:8.4rem}.fs-85{font-size:8.5rem}.fs-86{font-size:8.6rem}.fs-87{font-size:8.7rem}.fs-88{font-size:8.8rem}.fs-89{font-size:8.9rem}.fs-90{font-size:9rem}.fs-91{font-size:9.1rem}.fs-92{font-size:9.2rem}.fs-93{font-size:9.3rem}.fs-94{font-size:9.4rem}.fs-95{font-size:9.5rem}.fs-96{font-size:9.6rem}.fs-97{font-size:9.7rem}.fs-98{font-size:9.8rem}.fs-99{font-size:9.9rem}.fs-100{font-size:10rem}.fs-101{font-size:10.1rem}.fs-102{font-size:10.2rem}.fs-103{font-size:10.3rem}.fs-104{font-size:10.4rem}.fs-105{font-size:10.5rem}.fs-106{font-size:10.6rem}.fs-107{font-size:10.7rem}.fs-108{font-size:10.8rem}.fs-109{font-size:10.9rem}.fs-110{font-size:11rem}.fs-111{font-size:11.1rem}.fs-112{font-size:11.2rem}.fs-113{font-size:11.3rem}.fs-114{font-size:11.4rem}.fs-115{font-size:11.5rem}.fs-116{font-size:11.6rem}.fs-117{font-size:11.7rem}.fs-118{font-size:11.8rem}.fs-119{font-size:11.9rem}.fs-120{font-size:12rem}

/* font weight */
.fw-100{font-weight:100}.fw-200{font-weight:200}.fw-300{font-weight:300}.fw-400{font-weight:400}.fw-500{font-weight:500}.fw-600{font-weight:600}.fw-700{font-weight:700}.fw-800{font-weight:800}.fw-900{font-weight:900}

/* line height */
.lh-1{line-height:1}.lh-1p1{line-height:1.1}.lh-1p2{line-height:1.2}.lh-1p3{line-height:1.3}.lh-1p4{line-height:1.4}.lh-1p5{line-height:1.5}.lh-1p6{line-height:1.6}.lh-1p7{line-height:1.7}.lh-1p8{line-height:1.8}.lh-1p9{line-height:1.9}.lh-2{line-height:2}.lh-2p1{line-height:2.1}.lh-2p2{line-height:2.2}.lh-2p3{line-height:2.3}.lh-2p4{line-height:2.4}


/* ===================================== Default CSS === START  */
html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
p, a{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    padding: 0;
    margin: 0;
}
a{
    display: inline-flex;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    text-decoration: none;
}
/* ===================================== Default CSS === END  */

/* =============================================================== Created Default Class === START  */
/* ================================= Button -- START */

.butn-wrap{
    display: flex;
}

a.butn, .butn, input.butn-submit, .butn-submit{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 140px;
    min-height: 50px;
    padding: 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    /* letter-spacing: 0.3px; */
    border-radius: 50px;
    color: #fff;
    background-color: gray;
    border: 1px solid transparent;  
}


/* ============= Button Types */

a.butn-1, a.butn-2{
    border-radius: 0;
    padding: 10px 20px 8px;
    border: 1px solid #fff;
    background: none;
}
a.butn-1:hover{
    background-color: #fff;
    color: #000;
}
a.butn-2:hover{
    background-color: #fff;
    color: #000;
}
a.butn-3{
    border-radius: 0;
    margin: 0 25px 0 0;
    padding: 10px 20px 8px;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 500;
    background: none;
    color: #fff;
    text-align: center;
  
}
a.butn-3:hover{
    background-color: #fff;
    color: #18afd3;
}
/* ================================= Button -- END*/

/* ================================  Background Colors -- START*/
.bg-18afd3{
    background-color: #18afd3;
}
/* ================================  Background Colors --  END*/



/* ================================  Colors -- START*/
.color-18afd3{
    color: #18afd3;
}

/* ================================  Colors -- END*/

/* ================================  Backgrounds -- START*/
img.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overly-block {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

/* ============================ Overly Types */
.overly-block.overly-1 {
    background-color: #18afd3;
    opacity: 0.4;

}
.overly-block.overly-2{
    background-color: #000;
    opacity: 0.75;
}
/* ================================  Backgrounds -- END*/

/* ================================  Sections -- START*/
.section{
    padding: 90px 0;
}
.section-title{
    margin-bottom: 60px;
}
.row{
    max-width: 100%;
}
/* ================================  Sections -- END*/
/* =============================================================== Created Default Class === END  */

/* ================================================================================================= header start */

.top-header{
    padding: 15px 0;
}

.top-header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header a{
    color: #FFFFFF;
}
.contact-email a {
    margin-right: 20px;
}
.contact-email a > i{
    margin-right: 8px;
    margin-top: 3px;
}
ul.social-ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.social-icon a{
    margin-left: 8px;
    border: 1px solid #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.social-icon a:hover{
    background-color: #e9e9e9;
    color: #18afd3;
}
.site-header {
    padding: 5px 0;
}
.nav-logo {
    display: inline-flex;
    align-items: center;
}
a.site-logo {
    flex: 1;
    margin-right: 10px;
}
a.site-logo img {
    width: auto;
    max-height: 50px;
    transition: all 0.5s ease-in-out;
}
.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.menu-name {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
li.menu-li {
    margin-left: 15px;
}
a.menu-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    position: relative;
}
.site-header ul.menu-name > li:not(.nav-btn) > a:after{
	content: '';
	height: 1px;
	width: 0%;
	background-color: #18afd3;
	position: absolute;
	bottom: 5px;
	left: 15%;
	transition: all 0.3s ease-in-out;
}
.site-header ul.menu-name > li:not(.nav-btn) > a:hover:after{
	width: 70%;
}
.site-header ul.menu-name li a:hover{
	color: #18afd3;
}
li.menu-li {
    position: relative;
}
.submenu-wrap {
    padding-top: 10px;
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    display: none;
}
ul.nav-dd-list {
    list-style: none;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: white;
    min-width: 160px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
}
li.menu-li a.dd-link {
    display: block;
    color: #000;
    padding: 10px 15px;
    border-radius: 0;
    text-transform: capitalize;
    text-align: center;
}
li.menu-li a.dd-link:hover{
    background-color: #f4f4f4;
}
li.menu-li .dd-li:not(:last-child) a.dd-link {
    border-bottom: 1px solid #e9e9e9;
}
.menu-li:hover .submenu-wrap {
    display: block;
}
.submenu-wrap:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #18afd3;
    position: absolute;
    top: 2px;
    right: 20px;
}
/* li.menu-li {
    margin-left: 10px;
} */
li.menu-li a {
    padding: 10px 15px;
}
.mobile-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    display: none;
}
/* ================================================================================================= header end */

/* ============================== BANNER START ============================== */
.slider-content h2{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.25;
}
.slider-content h3 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 22px;
    text-transform: uppercase;
}

.banner{
    min-height: 680px;
    display: flex;
    align-items: center;
}

.slick-dots li button:before {
    font-size: 12px;
    top: 10px;
}

/* ============================== BANNER END ============================== */

/* ============================== SECTION-X1 START ============================== */
.section-x1 .icon a{
    font-size: 65px;
    color: #18afd3;
}
/* ============================== SECTION-X1 END ============================== */

/* ============================== SECTION-X2 START ============================== */
.content-x1 h3{
    letter-spacing: 2px;
}
.content-x1 p{
    width: 70%;
    margin: 0 auto;
}
.section-x2{
    width: 100%;
   height: 100%;
   background: url('../images/ban_img_3.webp') no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover; 
}
/* ============================== SECTION-X2 END ============================== */
/* ============================== SECTION-X3 START ============================== */
.service-box{
    border: 1px solid #18afd3;
    text-align: center;
    padding: 40px 25px;
    color: #18afd3;
}
.service-box i{
    font-size: 65px;
    color: #18afd3;
    transition: .3s;
}
.service-box:hover i{
    color: #fff;
}
.service-box:hover{
    background-color: #18afd3;
    color: #fff;
}

/* ============================== SECTION-X3 END ============================== */
/* ============================== SECTION-X4 START ============================== */

.section-x4 .content-icon i{
    background-color: #18afd3;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    width: 80px;
    margin-top: 5px;
}
.section-x4{
    width: 100%;
   height: 100%;
   background: url('../images/ban_img_4.webp') no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover; 
}
/* ============================== SECTION-X4 END ============================== */

/* ============================== SECTION-X5 START ============================== */
/* .section-title{
    margin-bottom: 20px;
} */
.section-title::after {
    content: "";
    height: 3px;
    width: 100px;
    display: block;
    background: rgb(39,65,93);
    background: linear-gradient(90deg, rgba(39,65,93,1) 50%, rgba(23,174,211,1) 50%);
    margin: 20px auto 0 auto;
}
.section-title h2{
    line-height: 24px;
}
.section-title p{
    line-height: 22px;
}
.image-gallery img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

/* ============================== SECTION-X5 END ============================== */

/* ============================== SECTION-X6 START ============================== */

.section-x6{
    background-color: #f1f1f1;
}
.test-inn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.testimonial-text{
    background-color: #fff;
    margin-top: 26px;
    padding: 50px 35px;
    border-radius: 20px;
}
.testimonial-text p{
    margin-top: 12px;
    line-height: 24px;
    position: relative;
}
.testimonial-img img{
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-text p::after {
    bottom: -5px;
    color: rgb(217, 217, 217);
    content: "ï„Ž";
    font-family: FontAwesome;
    font-size: 22px;
    position: absolute;
    right: 0px;
}


.testimonial-sld .slick-dots {
    bottom: -65px;
}
.testimonial-sld .slick-dots li button{
    display: none!important;
}
.testimonial-sld .slick-dots li{
    width: 8px;
    height: 8px;
    background-color: #a3a3a3 ;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 8px;
    transition: all 0.3s ease-in-out;
}
.testimonial-sld .slick-dots li.slick-active{
    background-color: #000;
    transform: scale(1.5);
}
/* ============================== SECTION-X6 END ============================== */

/* ============================== SECTION-X7 START ============================== */
.doctor-inn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.doctor-img :hover.overly-block.overly-3{
   
    background-color: #000;
    opacity: 0.2; 
} 
.icon-x1{
    border-top: 1px solid black;
    padding: 6px;
}
.icon-x1 a{
    margin: 0 6px;
    color: #000;
}
.icon-x1 a:hover{
    color: #18afd3;
}

/* ============================== SECTION-X7 END ============================== */
/* ============================== SECTION-X8 START ============================== */
.section-x8{
    background-color: #f1f1f1;
}
input.form-input{
    width: 100%;
    font-size: 16px;
    padding: 0px 16px;
    padding-right: 140px;
    border: none;
    outline: none;
    flex: 1;
    height: 50px;
}
form.form-wrap.subs-form {
    display: flex;
    padding: 6px;
    background-color: white;
    border-radius: 3px;
}
.butn.subscribe{
    background-color: #18afd3;
    border-radius: 0;
}
.butn.subscribe:hover{
    background-color: #000;
}
/* ============================== SECTION-X8 END ============================== */

/* ============================== SECTION-X9 START ============================== */

.health-content{
    padding: 25px;
}
.health-content h3{
    color: #000;
    margin-bottom: 15px;
}
.health-content h3:hover{
    color: #18afd3;
}
.health-content h4::before{
    content: "\f073";
    font-family: fontawesome;
    margin-right: 10px;
}
.section-x9 .health-item{
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	overflow: hidden;
}
.section-x9 .health-image{
	overflow: hidden;
}
.section-x9 .health-image img{
	transition: all 0.5s ease-in-out;
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);	
}
.section-x9 .health-image:hover img{
	transform: translatey(-10px);
	transform: scale(1.3);
}

/* ============================== SECTION-X9 END ============================== */
.top-footer{
    background-color: #000;
    color: #fff;
    padding: 30px 0;
}
.top-footer .footer-contact i{
    color: #18afd3;
    font-size: 20px;
}
.top-footer .footer-contact a{
    color: #fff;
    font-size: 14px;
}
.top-footer ul.dr-name{
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-footer li{
    margin-bottom: 20px;
}
.top-footer .dr-name a{
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #464545;
}
a.service {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
.top-footer h3{
    position: relative;
}
.top-footer h3::after {
    content: "";
    height: 2px;
    width: 14%;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.3s ease-in-out 0s;
    background: rgb(24,175,211);
    background: linear-gradient(90deg, rgba(24,175,211,1) 25%, rgba(255,255,255,1) 25%);
}
.copyright-area{
    padding: 20px 0;
    border-top: 1px solid #464545;
    background-color: #000;
}
.copyright-content{
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.copyright-content h4{
    color: #fff;
    margin: 0;
    padding: 0;
}
.copyright-content a{
    color: #18afd3;
    margin-left: 5px;
}
